<form method="GET" action='/loginiadmin/1'>

<button>FACULTY LOGIN</button>
</form>

<form method="GET" action="/loginiadmin/2">

<button>STUDENT LOGIN</button>
</form>

<form method="GET" action="/loginiadmin/0">

<button>ADMIN LOGIN</button>
</form>

