<% if (T=='1') {T="/loginadmin/1"} else if(T=='2'){T="/loginadmin/2"}else{T="/loginadmin/0"}%>
<form method="POST" action=<%=T %>>
<div>User name=<input name="id" type="text" required/></div>
<div>password=<input name="password" type="password" required/></div>
<button>save</button>
</form>
